img {
    margin-bottom: 5rem;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid;
    border-radius: 1rem;

}

h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid;
    border-radius: 1rem;
}

